<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InertiaCore</title>
    
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <link href="<%= htmlWebpackPlugin.files.chunks[chunk].css %>" rel="stylesheet" />
    <% } %>
</head>
<body data-controller="@ViewContext.RouteData.Values["Controller"]" data-action="@ViewContext.RouteData.Values["Action"]">
    @RenderBody()

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

    @RenderSection("Scripts", required: false)
</body>
</html>
